# Ignore MacOS specific things
.DS_Store
*/.DS_Store

# Vim swap files
*.swp
*/*.swp

# Rust build files
read_serial_data/target/

# Python virtual environments
.venv
*/.venv

# Ipython Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python Cache
__pycache__/
*/__pycache__/

# Training data
gesture_data/**/*.csv
gesture_data/**/*.txt
gesture_data/**/*.npz

# Weights and Biases logs
machine_learning/wandb/

# A file used for typing in via ergo
machine_learning/typing.txt

# General purpose logs and model save files
machine_learning/logs/
machine_learning/models/

# Images and PDFs
*.png
*.pdf
*.jpg

# Serialised python objects
*.pickle

# Test coverage build files
.coverage

# Log files
logs

# Saved models
saved_models
