.DS_Store
*/.DS_Store

*.swp
*/*.swp

read_serial_data/target/

.venv
*/.venv

.ipynb_checkpoints/
*/.ipynb_checkpoints/

__pycache__/
*/__pycache__/

gesture_data/test/*/*.txt
gesture_data/train/*/*.txt
gesture_data/valid/*/*.txt

machine_learning/wandb/

*.png
*.pdf
*.jpg

*.pickle
